@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Manrope:wght@800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    background-color: var(--cor-fundo);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-cartao);
    border-radius: 12px;
    margin: 20px;
    width: 500px;
}

.cartao .id-conselho {
    color: var(--cor-titulo-conselho);
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 15px;
    margin-top: 35px;
}

.cartao .descricao-conselho {
    font-size: 25px;
    padding: 23px;
    text-align: center;
    color: var(--cor-texto);
}

.cartao .atualizar-conselho {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--cor-titulo-conselho);
    transform: translateY(40%);
}

.cartao .atualizar-conselho:hover {
    color: #53ffab;
    cursor: pointer;
    box-shadow: 0 1px 15px var(--cor-titulo-conselho);
}